
# Dependencies
/node_modules
/ws-worker/node_modules

# Build files
/dist
/build
/.next

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# System files
.DS_Store
Thumbs.db
